<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Licitaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title>
     Lista de licitaciones
    </ion-card-title>
    <ion-card-content>
  <ion-list class="custom-ion-list">
    <ion-item class="custom-ion-item">
      <ion-grid class="centered-grid">
        <ion-row>
          <ion-col class="centered-col"><strong>Trabajo</strong></ion-col>
          <ion-col class="centered-col"><strong>Ver</strong></ion-col>
          <ion-col class="centered-col"><strong>Rechazar</strong></ion-col>
        </ion-row>
        <br/>
        <ion-row *ngFor="let licta of licitaciones" [ngClass]="{'row-highlight': licta.visto !== '1'}">
          <ion-col class="centered-col">
            <div *ngIf="licta.visto !== '1'" class="new-label">Nuevo</div>
            {{ licta.nomServicio }}
          </ion-col>
          <ion-col class="centered-col">
            <ion-button class="button-solid3" *ngIf="licta.id > 0" (click)="abrirModal(licta)"><ion-icon name="eye-outline"></ion-icon></ion-button>
          </ion-col>
          <ion-col class="centered-col">
            <ion-button class="button-solid3" *ngIf="licta.id > 0" (click)="rechazarLicitacion(licta)"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>
</ion-list>
</ion-card-content>
</ion-card>
</ion-content>
