<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Busqueda De Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="custom-ion-item">
    <ion-input type="text" (ionChange)="consultarServivesUser()" label="Buscar Servicio" labelPlacement="floating" placeholder="ingrese busqueda" [(ngModel)]="nomServicio"></ion-input>
      <!-- Popover de Ayuda -->
      <ion-button id="open-popoverMap" class="button-solid3"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
      <ion-popover [keepContentsMounted]="true" trigger="open-popoverMap">
        <ng-template>
          <ion-content class="ion-padding">Acá podes buscar un prestador de servicios cerca de tu hogar, por ejemplo, Plomero, Mecánico, Abogado, etc.</ion-content>
        </ng-template>
      </ion-popover>
  </ion-item>
    <!-- Botón Licitar con Icono de Ayuda -->
    <ion-button style="width: 80%;" class="button-solid3" (click)="licitar();">
      <ion-icon name="checkmark-circle-outline" slot="end"></ion-icon>
      Licitar
    </ion-button>
    <!-- Popover de Ayuda -->
    <ion-button id="open-popover" class="button-solid3"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    <ion-popover [keepContentsMounted]="true" trigger="open-popover">
      <ng-template>
        <ion-content class="ion-padding">El licitar sirve para enviar un trabajo a varios prestadores de servicio
                                         de forma automática, luego, te enviaran el valor de su
                                         trabajo a tu casilla de mensaje. Vos elegirás el más conveniente en precio y servicio.</ion-content>
      </ng-template>
    </ion-popover>

  <div id="map-container">
    <div class="map" id="mapComb" tabindex="0"></div>
  </div>
</ion-content>
