ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.half-red-half-white {
  background: linear-gradient(to bottom, white 50%, #e81717 50%,);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Ajusta el padding según tus necesidades */
  width: 100%; /* Asegura que el fondo cubra todo el ancho */
  height: 200px; /* Ajusta la altura según tus necesidades */
}

.image-container {
  background-color: white; /* Fondo blanco para la imagen */
  padding: 10px; /* Ajusta el padding según tus necesidades */
  border-radius: 50%; /* Asegura que el contenedor de la imagen sea redondo */
  border: 5px solid white; /* Borde blanco */
}

.rounded-image {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%;
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor redondo */
}
.responsive-image {
  width: 50%; /* Ajusta el tamaño según tus necesidades */
  max-width: 200px; /* Tamaño máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}
