<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cargar Trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="isCardVisible">
    <ion-card-title>
     Carga tu trabajo
    </ion-card-title>
    <ion-card-content>
      <ion-list class="custom-ion-list">
        <ion-item class="custom-ion-item">
          <ion-input type="text" label="Título" labelPlacement="floating" placeholder="Título" [(ngModel)]="nomTrabajo" name="nomTrabajo" ></ion-input>
        </ion-item>
        <ion-item class="custom-ion-item">
          <ion-textarea
          label="Descripción"
          labelPlacement="floating"
          placeholder="Ejemplo: Descripción corta de tu servicio"
          name="descripcion"
          autoGrow="true"
          maxlength="1000"
          [(ngModel)]="descripcion"
          name="descripcion"
        ></ion-textarea>
        </ion-item>
        <ion-item class="custom-ion-item">
          <ion-label>Estado</ion-label>
          <ion-select [(ngModel)]="estado" name="estado" interface="popover">
            <ion-select-option value="1" selected>Activo</ion-select-option>
            <ion-select-option value="2">Inactivo</ion-select-option>
          </ion-select>
        </ion-item>
        <br/>
        <ion-item class="custom-ion-item">
          <ion-button class="button-solid2" style="width:100%;" expand="full" (click)="guardarTrabajo()">Guardar<ion-icon slot="end"  name="save-outline"></ion-icon></ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
<ion-card>
  <ion-item class="custom-ion-item" >
    <ion-button class="button-solid" style="width:50%;" (click)="takePhoto()">Toma foto
      <ion-icon slot="end" name="camera"></ion-icon>
    </ion-button>
    <ion-button class="button-solid" style="width:50%;" expand="full" (click)="libreria()">Cargar Foto <ion-icon slot="end" name="cloud-upload"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-grid *ngIf="photos.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photos">
        <ion-img [src]="photo"></ion-img>
      </ion-col>
    </ion-row>
    <ion-button *ngIf="photos.length > 0" (click)="guardarFotos()">Guardar</ion-button>
  </ion-grid>
</ion-card>

</ion-content>
