<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cargar Trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title>
     Carga tu trabajo
    </ion-card-title>
    <ion-card-content>
      <ion-list class="custom-ion-list">
        <ion-item class="custom-ion-item">
          <ion-input type="text" label="Título" labelPlacement="floating" placeholder="Título"></ion-input>
        </ion-item>
        <ion-item class="custom-ion-item">
          <ion-textarea
          label="Descripción"
          labelPlacement="floating"
          placeholder="Ejemplo: Descripción corta de tu servicio"
          name="descripcion"
          autoGrow="true"
          maxlength="1000"
        ></ion-textarea>
        </ion-item>
        <br/>
        <div class="centrar-boton">
        <ion-button size="small">
          <ion-icon slot="end"  name="save-outline"></ion-icon>
          Guardar
        </ion-button>
         </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
