<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list-ios">
    <ion-item *ngFor="let message of messages" [ngClass]="{'my-message': message.isMine, 'other-message': !message.isMine}">
      <ion-label>
        <p class="margen">{{ message.text }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
