<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Licitaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title>
     Lista de licitaciones
    </ion-card-title>
    <ion-card-content>
  <ion-list class="custom-ion-list">
    <ion-item class="custom-ion-item">
      <ion-grid class="centered-grid">
        <ion-row>
          <ion-col class="centered-col"><strong>Buscaste</strong></ion-col>
          <ion-col class="centered-col"><strong>Detalle</strong></ion-col>
        </ion-row>
        <ion-row *ngFor="let licta of licitaciones">
          <ion-col class="centered-col">{{ licta.nomServicio }}</ion-col>
          <ion-col class="centered-col">
            <ion-button class="button-solid3" *ngIf="licta.id > 0" (click)="irVerLicitacion()"><ion-icon name="eye-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>
</ion-list>
</ion-card-content>
</ion-card>
</ion-content>
