<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br />
  <img alt="Silhouette of mountains" src="../assets/images/logo.png" class="responsive-image" />
  <ion-card class="custom-ion-card">
    <ion-card-title>
     Registrarme
    </ion-card-title>
    <br/>
    <ion-card-content>
      <ion-list class="custom-ion-list">
        <ion-item class="custom-ion-item">
          <ion-input type="text" [(ngModel)]="usuario.nombres" label="Nombre" labelPlacement="floating" placeholder="Nombre" class="custom-ion-item"></ion-input>
        </ion-item>
        <ion-item class="custom-ion-item">
          <ion-input type="text" [(ngModel)]="usuario.apellidos" label="Apellidos" labelPlacement="floating" placeholder="Apellidos" class="custom-ion-item"></ion-input>
        </ion-item>
        <ion-item class="custom-ion-item">
          <ion-input type="text" [(ngModel)]="usuario.dni" label="DNI" labelPlacement="floating" placeholder="DNI" class="custom-ion-item"></ion-input>
        </ion-item>

        <ion-item class="custom-ion-item">
          <ion-input type="password" [(ngModel)]="usuario.password" label="Password" labelPlacement="floating" placeholder="Password" class="custom-ion-item"></ion-input>
        </ion-item>
        <ion-item class="custom-ion-item">
          <ion-input type="password" [(ngModel)]="usuario.rep_password" label="Repetir Password" labelPlacement="floating" placeholder="Repetir Password" class="custom-ion-item"></ion-input>
        </ion-item>
        <br/>
        <div class="centrar-boton">
        <ion-button size="small" style="width:50%;" class="ion-buttonSes"(click)="validarCampos()">
          <ion-icon name="person-add-outline"> </ion-icon>
          Registrarme
        </ion-button>

        <ion-button size="small" style="width:50%;" class="ion-buttonRe" (click)="irLogin()">
          <ion-icon name="log-in-outline"> </ion-icon>
          Ir al login
        </ion-button>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
